<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar10"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar10">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
          <a class="nav-link" href="#">TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lyd</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PC & tablets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mobil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gaming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hvidevarer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="//codeply.com">Køkkenudstyr</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="picture">
  <div id="phonetext">
    <div id="header">iPhone 12</div>
    <div id="subheader">Hæsblæsende hurtig. Fra 6.749,-</div>
    <button type="button" class="btn btn-warning">Køb her</button>
  </div>
  <img src="../../assets/IPHONELULZ2.png" id="phones" />
</div>

<app-lists></app-lists>
