<div class="container">
  <h2>Registrer kunde</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">Fornavn</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
      />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Indtast fornavn</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Efternavn</label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Indtast efternavn</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Indtast email</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Adgangskode</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Indtast adgangskode</div>
        <div *ngIf="f.password.errors.minlength">
          Adgangskoden skal være mindst 6 karakterer lang
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Telefonnummer</label>
      <input
        type="number"
        formControlName="phone"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
      />
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">Indtast telefonnummer</div>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Gade</label>
      <input
        type="text"
        formControlName="street"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.street.errors }"
      />
      <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
        <div *ngIf="f.street.errors.required">Indtast gade</div>
      </div>
    </div>

    <div class="form-group">
      <label for="housenumber">Husnummer</label>
      <input
        type="number"
        formControlName="housenumber"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.housenumber.errors }"
      />
      <div *ngIf="submitted && f.housenumber.errors" class="invalid-feedback">
        <div *ngIf="f.housenumber.errors.required">Indtast husnummer</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-warning">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Registrer
      </button>
      <a routerLink="/login" class="btn btn-warning" id="register">Annuller</a>
    </div>
  </form>
</div>
