h2 {
  margin-top: 20px;
}

/*a {
  color: #feb314;
  margin-left: 20px;
}

.btn {
  color: #242038;
}

.btn:hover {
  box-shadow: 10px 10px 8px -6px rgba(227, 227, 227, 1);
  color: white;
}*/

#register {
  background-color: white;
  margin-left: 15px;
}
