<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand"
      ><img src="../assets/logo duptidu done2.png" id="logo"
    /></a>
    <button
      class="navbar-toggler float-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbar9"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar9">
      <!-- Search bar -->
      <form class="ml-3 my-auto d-inline w-100">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-right-0"
            placeholder="Søg i mere end 10.000 varer... "
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-comments"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-shopping-basket"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
