#logo {
  width: 150px;
}

.btn-primary {
  background-color: #feb314;
  border-color: #feb314;
  color: white;
  border-radius: 25px;
  box-shadow: none;
}

.form-control {
  border: 1px solid #feb314;
  border-radius: 25px;
  padding-left: 17px;
  background-color: #fff;
}

.form-control:focus {
  box-shadow: none !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2.5rem;
}

a,
i {
  color: #242038;
}
