body {
  background-color: #ffffff;
  color: #242038 !important;
  font-family: "Roboto", sans-serif;
}

.btn:active,
.btn:focus {
  box-shadow: none !important;
}

.btn:hover {
  box-shadow: 10px 10px 8px -6px rgba(227, 227, 227, 1);
  background-color: #feb314;
  border-color: #feb314;
  i {
    color: white;
  }
}

.btn:active {
  box-shadow: none !important;
  background-color: #feb314 !important;
  border-color: #feb314 !important;
  i {
    color: white;
  }
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  border-color: #feb314;
}
